.react-datepicker {
  $self: &;

  &__current-month,
  &__day-name,
  &__day {
    font-size: fs();
  }

  &__day {
    width: 3.7rem;
  }

   &__day-name {
     padding: 1rem;
   }

   &__header {
     padding: 1rem 3rem 0 1rem;
   }

   &__input-container {
     input {
       border: 1px solid color("subtitle");
     }
   }
}